# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=carboncoin

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=24h

# Blockchain
ISSUER_ADDRESS=your_blockchain_address
BLOCKCHAIN_RPC_URL=your_blockchain_rpc_url

# Admin
ADMIN_EMAIL=admin@carboncoin.com
ADMIN_PASSWORD=admin_password
ADMIN_WALLET_ADDRESS=admin_wallet_address 